<div class="card">
    <div class="column">
            <p class="has-background-primary is-size-4">{{title}}</p>
    </div>

    <div class="column">
        <p class="is-size-6"> {{content}}</p>
        <br>
        <p class="is-size-7 i"> Created by <strong>{{user.username}}</strong></p>
    </div>
 
</div>