<div class="card">
    <div class="column">
            <h4>{{title}}</h4>
    </div>

    <div class="column">
        <p>{{content}}</p>
        <p>Created by {{user.username}}</p>
    </div>
 
</div>