<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
</head>

<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      {{#if loggedIn}}
      <a class="navbar-item" href="/">Home</a>
      <a class="navbar-item" href="/dashboard">Dashboard</a>
      <button class="button" id="logout" class="btn">Logout</button>
    </div>
{{else}}
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button" href="/login">Login</a>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</nav>

<h1 class="title has-text-centered">Welcome to the Tech Blog</h1>

  <main>
    {{{body}}}
  </main>
  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
  </body>

</html>

{{!-- <nav class="navbar">
  {{#if loggedIn}}
  <a class="navbar-item" href="/">Home</a>
  <a class="navbar-item" href="/dashboard">Dashboard</a>
  <button class="button" id="logout" class="btn">Logout</button>
  {{else}}
  <a class="navbar-item" href="/login">Login</a>
  {{/if}}
</nav> --}}











