{{!-- Presnted with any blog posts that I have already created and option to add new blog post 

1. Click on add new blog post 
 - promted to enter: 
        - title & contents for blog post 

2. When click to create a new blog post title and content are saved.
Taken back to updated dashboard with new blog posts 

3. Click on exsisting post in dashboard and you are able to delete or update post --}}

        

{{!-- Add a new post --}}
<div class="box">
        <h2 class="is-size-4 has-text-centered" >New Post</h2>
        <form class="form newPost-form">
                <label for="newPostTitle">Title</label>
                <input class="input" type="text" name="newPostTitle" id="newPostTitle" />
                <label for="newPostContent">Content</label>
                <input class="input" type="text" name="newPostContent" id="newPostContent" />
                <button class="button" type="submit">Create</button>
        </form>
</div>


{{#if posts.length}}
<div class="box">
        <p>{{#each posts as |post|}}
                {{>post-details post}}
                <a href="/dashboard/post/{{post.id}}">Edit Post</a>
                {{/each}}</p>
</div>
{{/if}}

<script defer src="/js/createPost.js"></script>
