<h2 class="has-text-centered is-size-4">Enter your login details below</h2>
<form class="form login-form">
    <label for="username">Username:</label>
    <input class="input" type="text" id="username"/> 
    <label for="password">Password:</label>
    <input class="input" type="password" id="password"/>
    <button class="button" type="submit">Login</button>
    </form>
    <br>
    <p class="has-text-centered">First time visitor? Sign up here</p>
    <a class="tags is-centered" href="/signup">Sign Up</a>

<script src="/js/login.js"></script>