<h2>Sign Up</h2>
<form class="form signup-form">
    <label for="username">Username:</label>
    <input type="text" id="usernameSignUp"/>
    <label for="password">Password:</label>
    <input type="password" id="passwordSignUp"/>
    <button type="submit">Sign Up</button>
    <a href="/login">Login instead</a>
</form>

<script src="./js/signup.js"></script>